* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(58, 59, 59);
}

#navbar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 20px;
    
}

#navbar ul li {
    margin: 0 15px;
}

#navbar ul li a {
    color: rgb(214, 214, 214);
    text-decoration: none;
    padding: 10px 15px;
}

h1 {
    padding: 20px;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}


.gallery-item {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}
